@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #a3e635;
  --heading: #2f1c6a;
  --btnbg: #020106;
  --font-sans: 'Inter', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  --font-syne: 'Syne', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  overflow-x: hidden;

}

main {
  flex: 1; /* expands to take available space */
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

/* #a3e635 primary color of logo  */
